name: "lancer-server"

services:
  # Original Avalanche Service
  avalanche:
    build:
      context: subnet-evm
      dockerfile: ../Dockerfile
      args:
        AVALANCHE_VERSION: latest  # Update with the appropriate version
    ports:
      - "9650:9650" 
      - "9671:9671"
    volumes:
      - ./avalanche:/avalanche
    command: >
      /avalanchego/build/avalanchego
      --data-dir=/avalanche
      --network-id=fuji
      --config-file=/avalanche/configs/node.json
      --staking-port=9671
      --log-level=info
    restart: unless-stopped
    env_file:
      - .env

  # New Bvalanche Service
  bvalanche:
    build:
      context: subnet-evm
      dockerfile: ../Dockerfile
      args:
        AVALANCHE_VERSION: latest  # Update with the appropriate version
    ports:
      - "9652:9650"
      - "9651:9651"
    volumes:
      - ./bvalanche:/avalanche
    command: >
      /avalanchego/build/avalanchego
      --data-dir=/avalanche
      --network-id=fuji
      --config-file=/avalanche/configs/node.json
      --log-level=info
    restart: unless-stopped
    env_file:
      - .env

  # Service for the Watchdog
  watchdog:
    build:
      context: .
      dockerfile: Dockerfile.watchdog
    volumes:
      - ./avalanche:/avalanche
      - ./bvalanche:/bvalanche
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - .env
    restart: unless-stopped

  # Service for Health Checks
  health:
    build:
      context: .
      dockerfile: Dockerfile.health
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports: 
      - "8000:8000"
    restart: unless-stopped

  # Proxy Service
  proxy:
    image: caddy:latest
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
    restart: unless-stopped


volumes:
  caddy_data:
